.slide__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
}

.slide__title h2 {
  margin-bottom: 1rem;
}
